/* Reset básico */
body {
  margin: 0;
  background-color: #ffd7d7;
  font-family: 'Times New Roman', Times, serif;
}

/* Contenedor principal */
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 5%;
}

/* Buscador */
.buscador {
  text-align: center;
  margin-bottom: 20px;
}

.buscador input {
  padding: 10px;
  width: 60%;
  max-width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(245, 241, 226);
}

.buscador button {
  padding: 10px 15px;
  border: none;
  background-color: #d64b7a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.buscador button:hover {
  background-color: #7e1e5e;
}

/* Lista de películas */
.one-half{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5%;
  justify-content: center;
}

/* Card */
.card {
  background: rgb(245, 241, 226);
  padding: 1%;
  border-radius: 10px;
  width: 15%;
  text-align: center;
  margin-left: 1%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background-color: #d64b7a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #7e1e5e;
}

/* Detalle */
.card-detalles {
  background: rgb(245, 241, 226);
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 60%;

  display: flex;           /* 🔥 clave */
  gap: 20px;               /* espacio entre columnas */
  align-items: flex-start; /* alinea arriba */
}

/* Columna imagen */
.DetallesImg {
  flex: 1;
  display: flex;
  justify-content: center;
}

.DetallesImg img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  margin-top: 5%;
}

/* Columna texto */
.DetallesInfo {
  flex: 2;
}

/* Botón volver */
button {
    margin-top: 10px;
  padding: 8px;
  border: none;
  background-color: #d64b7a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #7e1e5e;
}

/* Error */
.error {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

/* Loader */
.loader {
  text-align: center;
  margin-top: 20px;
}